/* universal */
* {
    padding: 0;
    margin: 0;

}

/* nav */

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 16px;
    font-family: 'Secular One', sans-serif;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #e30c0c;
    display: block;
}

.sidebar a:hover {
    color: #d08d8d;
}

.sidebar img {
    height: 90px;
    width: 170px;
    margin: 10px;
}

.sidebar button {
    background-color: white;
    border: 2px solid yellow;
    color: rgb(235, 15, 15);
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 40px 25px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 600;
}

.button1:hover {
    background-color: yellow;
    color: red;
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* home*/

.home {
    padding: 0;
    margin: 0;
}

.homePg {}

.homePg img {
    width: 1300px;
    height: 500px;
}